<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Event Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
<link rel="stylesheet" href="eventPageStyle.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>
<script src="eventPageModule.js"></script>
<script src="eventPageController.js"></script>
</head>

<body>
	<div class="container" ng-app="eventPageModule" ng-controller="eventPageController" id="application">
<h1 id="title">{{eventDetails.name}}</h1>
	
		
		<div id="infoSection" class="col-md-12 col-sm-12">
			<div class="col-md-6 col-sm-6">
				Info:<br>
				<textarea rows="5" cols="35">
{{eventDetails.location}}
{{eventDetails.date}}
{{eventDetails.description}}
				</textarea>
			</div> 
			<div id="uploadDownload" class="col-md-6 col-sm-6">
				<form action="" method="post" enctype="multipart/form-data">
					Upload Photos: <input type="file" id="Upload" accept=".png, .jpg, .jpeg, video/*" multiple/>
					<input type="submit" value="Upload" />
				</form>
				<div id="Download">Download All</div>
			</div> 
		</div>

		<div id="photoSection">
			<div class="photoGrid col-sm-3 col-md-3 col-xs-6" ng-repeat="photo in photos" id="photo$index">
				<img ng-src="{{photo.URL}}" ng-click="fullscreenPhoto($index)" />
			</div>
		</div>
	
		
		<div id="fullscreenPhotoContainer">
			<img id="closeFullscreen" ng-click="closeFullscreen()" src="close.svg" />
			<img id="infoFullscreen" ng-click="showInfo()" src="info.svg">
			<img id="likeButton" ng-click="sendLike()" src="like.png">
			<img ng-src="{{fullscreenPhotoURL}}" id="fullscreenPhoto" />
			    <img id="left" src="left.svg" ng-click="switchPhoto(0)" />
			    <img id="right" src="right.svg" ng-click="switchPhoto(1)" />
			<div id="photoInfo">
				Uploaded By: {{fullscreenUploadedBy}}<br>
				Date: {{fullscreenDate}}<br>
				Description: {{fullscreenDescription}}
				<div id="closeInfo" ng-click="closeInfo()">OK</div>
			</div>
		</div>
	
	</div>
</body>

</html>