<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- AngularJs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>

	<title>PhotoShare</title>
	<link rel="stylesheet" href="adminDashboardStyle.css" />
	<script src="adminDashboardModule.js"></script>
	<script src="adminDashboardController.js"></script>
</head>

<body ng-app="adminDashboardModule" ng-controller="adminDashboardController" id="application">
	<nav class="navbar navbar-expand-lg navbar-light bg-white	">
		<h5 class="my-0 mr-md-auto font-weight-normal"> Admin Dashboard</h5>
		<button class="btn btn-outline-primary" ng-click="logout()"> Logout </button>
	</nav>




	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Welcome to PhotoShare!</h1>
			<p>Need a description here.</p>
			<button class="btn btn-primary btn-lg" id="createEventButton" data-toggle="modal"
				data-target="#createEvent">Create Event</button>
		</div>
	</div>



	<div class="container">
		<h2 class="display-5">{{title}}</h1>
			<div class="card-deck mb-3 text-center" ng-repeat="event in events">
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">{{event.name}}</h4>
					</div>
					<div class="card-body">
						<h7 class="card-title pricing-card-title">{{event.description}}</h1>
							<div class="row" style="padding-bottom: 10px;">
								<div class="col-md-3 col-xs-3" data-toggle="modal" data-target="#showImage" ng-click="showQR(event)"><img src="qr.png" /> Show QR
								</div>
								<div class="col-md-3 col-xs-3" data-toggle="modal" data-target="#editEvent"
									ng-click="displayEvent($index)">
									<img src="edit.svg" />Edit</div>
								<div class="col-md-3 col-xs-3" ng-click="deleteEvent($index)"><img
										src="delete.png" />Delete</div>
							</div>
							<button type="button" class="btn btn-lg btn-block btn-outline-primary"
								ng-click="eventlink(event)">Go to Event Page</button>
					</div>
				</div>
			</div>
	</div>


	<div id="createEvent" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Create Event</h1>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<form class="text-center p-5">
						<input type="text" ng-model="eventName" class="form-control mb-1" placeholder="Name" required /><br>
						<input type="date" ng-model="eventDate"  class="form-control mb-1" placeholder="Date" /><br>
 						<input type="number" ng-model="eventPin"  class="form-control mb-1" placeholder="Pin (Digits Only)" /><br>
						<input type="text" ng-model="eventDescription"  class="form-control mb-1" placeholder="Description" required /><br>
						<input type="text" ng-model="eventLocation"  class="form-control mb-1" placeholder="Location"/><br>
						Active? <input type="checkbox" ng-model="eventIsActive" value="" /><br>
						<button type="button" class="btn btn-lg btn-block btn-outline-primary" data-dismiss="modal" id="createEventSubmit"
						ng-click="createEvent()">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	
	<div id="showImage" class="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">QR code</h1>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>	
					<div class="modal-body">
					<img id="qr" src="https://api.qrserver.com/v1/create-qr-code/?data=http://localhost:8080/adminDashboard/events/?=f3804e33b6e25fe0c6d8f50b6a3478d55664b6d6db0ff9808644c1eeeef97cfe&size=500x500" />
					</div>
				</div>
			</div>
		</div>


		<div id="editEvent" class="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Edit Event</h1>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
	
					<div class="modal-body">
						<form class="text-center p-5">
							<input type="text" ng-model="EditeventName" class="form-control mb-1" placeholder="Name" required /><br>
							<input type="date" ng-model="EditeventDate"  class="form-control mb-1" placeholder="Date" /><br>
							 <input type="number" ng-model="EditeventPin"  class="form-control mb-1" placeholder="Pin (Digits Only)" /><br>
							<input type="text" ng-model="EditeventDescription"  class="form-control mb-1" placeholder="Description" required /><br>
							<input type="text" ng-model="EditeventLocation"  class="form-control mb-1" placeholder="Location"/><br>
							Active? <input type="checkbox" ng-model="EditeventIsActive" value="" /><br>
							<button type="button" class="btn btn-lg btn-block btn-outline-primary" data-dismiss="modal" id="EditEventSubmit"
							ng-click="saveEvent()">Edit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
</body>

</html>