<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- AngularJs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>

	<title>PhotosShare</title>
	<link rel="stylesheet" href="loginRegisterStyle.css" />
	<script src="loginRegisterModule.js"></script>
	<script src="loginRegisterController.js"></script>
</head>

<body>
	<div class="container" ng-app="loginRegisterModule" ng-controller="loginRegisterController" id="application">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-5">
					<div id="loginRegisterForm" class="card-body">
						<h5 class="card-title text-center">{{title}}</h5>
						<form class="form-signin" ng-submit="save($element.action)" id="loginForm">
								<div class="form-label-group">
										<input type="text" id="login_username" class="form-control" placeholder="username" required autofocus ng-model="login_username">
										<label for="login_username">Username</label>
									  </div>
						
									  <div class="form-label-group">
										<input type="password" id="login_password" class="form-control" placeholder="Password" required ng-model="login_password">
										<label for="login_password">Password</label>
									  </div>
									  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="loginRegisterSubmit">Sign in</button>		  
						</form>

						<form class="form-signin" ng-submit="save($element.action)" id="registerForm">
								<div class="form-label-group">
										<input type="text" id="username" class="form-control" placeholder="username" required autofocus ng-model="username">
										<label for="username">Username</label>
									  </div>

									  <div class="form-label-group">
											<input type="email" id="email" class="form-control" placeholder="email" required autofocus ng-model="email">
											<label for="email">Email</label>
										  </div>
						
									  <div class="form-label-group">
										<input type="password" id="password" class="form-control" placeholder="Password" required ng-model="password">
										<label for="password">Password</label>
									  </div>

									  <div class="form-label-group">
											<input type="password" id="confirm_password" class="form-control" placeholder="Password" required>
											<label for="confirm_password">Confirm Password</label><div id="invalidPassword" ng-show="togglePasswordInvalid =='true'">Password must be at least 8 characters long, have a combination of both letters and numbers, and be hard to guess.</div>
										
										</div>

									  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="loginRegisterSubmit">Register</button>		
						</form>

						<p id="toggleLoginRegisterButton" ng-click="toggleLoginRegister()">Don't have an account?
							Register Here.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>